<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="startupGraph" value="cpuUtil"/>
    <add key ="tempMaxGPU" value="90"/>
    <add key ="tempMaxCPU" value="80"/>
    <!-- Notification Values --> 
    <add key ="GPUTemp" value="0"/>
    <add key ="CPUTemp" value="0"/>
    <add key ="GPULoad" value="0"/>
    <add key ="CPUUtil" value="0"/>
    <add key ="utilNotiRAM" value="0"/>
  </appSettings>
</configuration>